body {
  background: black;
  color: #eee;
  font-size: 16px;
  min-width: 500px;
}

h1, h2, a, li:before {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
}

h1 {
  font-size: 48px;
  margin: .5em 0 5px;
}
h1:before {
  content: './';
}
h1:after {
  content: '.js';

  padding-right: 3px;
  border-right: 1ch solid transparent;
  -webkit-animation: caret .8s alternate infinite;
          animation: caret .8s alternate infinite;
}

@-webkit-keyframes caret {
  0%, 30% {
    border-right-color: transparent;
  }
  60%, 100% {
    border-right-color: green;
  }
}

@keyframes caret {
  0%, 30% {
    border-right-color: transparent;
  }
  60%, 100% {
    border-right-color: green;
  }
}

h2 {
  font-size: 36px;
  margin: 0 0 .5em;
}

a {
  color: green;
}
a:active {
  color: red;
}

ul {
  list-style: none;
  padding-left: 20px;
}

li {
  position: relative;
  margin: 1em 0;
}
li:before {
  position: absolute;
  right: 100%;
  margin-right: 5px;
  content: '#';
  color: gray;
}

section {
  margin: 50px 0;
}
section:last-child {
  margin-bottom: 0;
}

.slogan {
  font-size: 24px;
  font-style: italic;
  margin-left: 55px;
}

.intro {
  padding: 20px 0 30px;
  background: #eee;
  color: black;
}

.contact {
  padding: 20px 0 50px;
  background: darkgreen;
}

.section-inner {
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.contact-link {
  margin: 0 25px;
  display: inline-block;
  text-decoration: none;
}
.contact-link > i {
  color: black;
  font-size: 54px;
  -webkit-transition-property: opacity, -webkit-transform;
          transition-property: opacity, transform;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}
.contact-link:hover > i {
  opacity: .3;
  -webkit-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
          transform: translateY(-15px);
}

.tac {
  text-align: center;
}
