.text-center {
  text-align: center;
}

/*
  Hide only visually, but have it available for screen readers. Imported from HTML5 Boilerplate:
  https://github.com/h5bp/html5-boilerplate/blob/76f6b7d95358ffabb6ac6c4bc8d44a5af35fea8d/src/css/main.css#L121
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
